.about-page {
  animation: $fadeIn;
  margin-top:11vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;

  .top-side {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side {
      margin-right: 2vw;
      // background-image: url('/assets/portraitannelise.JPG');
      // background-repeat: no-repeat;
      // background-size: 100%;
      // background-position: 50% 50%;

      img {
        max-width: 345px;
      }
    }

    .right-side {
      
      .heading {
        span {
          font-family: $titlefont;
          font-size: 2.3rem;
        }

        p {
          color: $accentOne;
          font-family: $HeadingScript;
          font-size: 3rem;
          margin-top: -3vh;
          margin-bottom: 0px;
        }
      }

      .paragraph {
        p {
          font-family: $bodyfont;
          font-weight: 100;
        }
      }
    }
  }

  .bottom-side {
    margin-top: 1vh;
    margin-right: 3vw;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $HeadingSerif;
    font-size: 1.3rem;
    background-color: $accentTwo;

    p {
      margin-top: 0px;
      margin-bottom: 0px;
      outline: 1px solid $accentOne;
      padding: 23px;
      line-height: 3rem;
      margin-top: -17px;
      margin-left: -17px;
      margin-right: 17px;
      margin-bottom: 17px;
    }

    span {
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: $HeadingScript;
      font-size: 3rem;
      color: $accentOne;
    }
  }
}