.app-wrapper {
  margin: -8px;
}

.app-page {
  background-color: $offwhite;
  border-top: 10px solid $mainOne;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .colorblock {
    background-color: $accentTwo;
    height: 23vh;
    width: 73vw;
    align-self: flex-end;
    margin-bottom: -23vh;
  }
}

.app {
  display: flex;
  justify-content: space-between;

  .rightside {
    width: 66vw;
  }
}