.contact-page {
  animation: $fadeIn;
  margin-top: 7vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: $bodyfont;
  font-weight: 100;

  .top-side {
    align-self: flex-end;
    text-align: right;
    margin-bottom: 3vh;
    padding-left: 13vw;;
    
    h3 {
      font-family: $titlefont;
      font-size: 1.9rem;
      margin-bottom: -.7vh;
    }
  }

  .bottom-side {
    width: 100%;
    height: 50vh;
    border: 1px solid $accentOne;

    .contact-form-box {
      display: flex;
      justify-content: center;
      align-items: center;

      .form-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        letter-spacing: .1rem;
        font-size: 1.1rem;
        margin: 9px 31px;

        .label {
          width: 123px;
        }
      }
    }
  }
}