.home-page {
  animation: $fadeIn;

  .container {
    font-family: $bodyfont;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 175px;

    .image-block {
      display: grid;
      grid-template-columns: 1fr 0.5fr 2fr;
      grid-template-rows: 0.25fr 1fr 0.05fr;
      height: auto;
      width: 100%;
      margin-right: 0px;

      .image-block-left {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        background-size: cover; /* <-- background size */
        background-position: center; /* <-- background position */
        height: auto;
        z-index: 1;

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }

      .image-block-right {
        grid-column: 2 / span 4;
        grid-row: 2 / span 3;
        height: 100%;
        background-size: cover; /* <-- background size */
        background-position: center; /* <-- background position */
        z-index: 0;

        img {
          object-fit: cover;
          width: 100%;
          height: auto;
        }
      }

      .homepage-arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 41px;
        margin-left: 27vw;

        img {
          height: 25px;
          margin: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .counter {
        font-family: $bodyfont;
        font-size: 1.1rem;
        font-weight: 300;
        text-align: right;
        margin-top: 41px;
        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -17vw;
    margin-top: -7vh;
    width: 100%;

    .aboutme-header {
      align-self: flex-start;
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: $HeadingScript;
      font-size: 3.3rem;
      font-weight: 300;
      height: 143px;
      width: 43%;
      background-color: $accentTwo;

      p {
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 27px;
        padding-left: 27px;
        height: 143px;
        width: 100%;
        outline: 1px solid $accentOne;
        line-height: 3rem;
        margin-top: -17px;
        margin-left: -17px;
        margin-right: 17px;

        span {
          margin-top: -2rem;
          font-family: $HeadingSerif;
          font-size: 1.3rem;
          color: $accentOne;
          margin-left: 1vw;
        }
      }
    }

    .about-me-blurb {
      text-align: center;
      font-size: 1.2vw;
    }
  }
}