// black & white
$offblack: #191919;
$offwhite: #fcfcfc;

// accent colors: earthy tones
$orangered: #97594b;
$lightorange: #e1cfc1;
$pastelorange: #ede6e0;

// accent colors: editorial
$verylightgrey: #f3f3f4;
$orange: #bc8640;

// website color variables
$mainOne: $offblack;
$accentOne: $orange;
$accentTwo: $verylightgrey;

// website font variables
$unknownfont: 'Gilda Display', serif;
$titlefont: 'Sham', serif;
$bodyfont: 'Open Sans', sans-serif;
$HeadingSerif: 'MSerif', serif;
$HeadingScript: 'MScript', serif;
